###Java###

*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xm
hs_err_pid*



*/bin
*/build
*/dist
*/gen-src
*/javadoc/
*/lib
*/logs
*/schema-dist
Reports/*
Screenshots_NavigateAndChose_Success/*
Screenshots_OpenChannel_Success/*
Screenshots_OpenWebsite_Success/*
Screenshots_SearchTest_Success/*
target/*
test-output/*

.classpath
.project
.settings/*
/target/
